<div class="row">
    <div class="col">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'jimblog:home' %}" style="color: black; font-weight: bold">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'jimblog:topic' %}" style="color: black; font-weight: bold">Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'jimblog:all' %}" style="color: black; font-weight: bold">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; font-weight: bold">About</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <form action="{% url 'jimblog:all' %}">
                    <input type="text" class="form-control" name="search" placeholder="搜索文章" required>
                </form>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="btn btn-secondary btn-light dropdown-toggle" href="#" role="button" id="dropdownmenu" data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownmenu">
                    <a class="dropdown-item" href="#">个人信息</a>
                    <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
                    <a class="dropdown-item" href="{% url 'userprofile:logout' %}">登出</a>
                    </div>
                    <form method="post" id="userdelete" style="display: none" action="{% url 'userprofile:userdelete' user.id %}">
                        {% csrf_token %}
                        <button type="submit"></button>
                    </form>
            </li>
                {% if user.id == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jimblog:article_create' %}"><i class="fa fa-plus-square-o fa-lg" style="color: gray"></i></a>
                </li>
                    {% endif %}
                    {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile:login' %}"><i class="fa fa-address-book-o fa-lg" style="color: gray"></i></a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-qq fa-lg" style="color: gray"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-github fa-lg" style="color: gray"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-envelope fa-lg" style="color: gray"></i></a>
            </li>
        </ul>
    </div>
</div>
<script>
    function user_delete(){
        layer.open({
            title:'删除用户',
            content:'确认删除？',
            yes: function (){
                $('form#userdelete button').click();
                layer.close()
            }
            }
        )
    }
</script>
